/* line 3, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
body, h1, h2, p, hr {
  margin: 0;
  padding: 0; }

/* line 5, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
html {
  overflow: hidden; }

/* line 7, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
body {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  font: 14px/20px "Roboto", "Helvetica", sans-serif;
  background-color: #eee;
  overflow-y: auto; }

/* line 18, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
h2 {
  font-weight: 500;
  font-size: 14px; }

/* line 19, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
p {
  font-weight: 400;
  color: #757575; }

/* line 20, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
a {
  font-weight: 500;
  color: #757575;
  text-decoration: none; }

/* line 21, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
b {
  font-weight: 500; }

/* line 23, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
hr {
  display: block;
  height: 1px;
  border-width: 0;
  background-color: #e0e0e0; }

/* line 24, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  fill: #757575; }

/* line 26, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
#header, #overlay, .drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

/* line 33, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
#header {
  height: 50px;
  min-width: 320px;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px;
  z-index: 1; }

/* line 41, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
#menu {
  position: absolute;
  top: 7px;
  left: 13px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center; }
  /* line 50, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  #menu > svg {
    width: 24px;
    height: 24px;
    vertical-align: -16px; }

/* line 53, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
#title {
  font-size: 18px;
  line-height: 51px;
  margin-left: 64px;
  transition: transform .3s ease-out; }

/* line 60, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.drawer {
  max-width: 240px;
  height: 100%;
  background-color: #fafafa;
  transform: translateX(-256px);
  transition: transform .3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  overflow-y: auto;
  z-index: 2; }

/* line 73, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.drawer:target {
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1); }

/* line 74, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.drawer:target ~ #overlay {
  visibility: visible;
  opacity: 0.7; }

/* line 76, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
#nav-header {
  padding: 13px 0;
  margin-bottom: 20px;
  background-color: rgba(255, 64, 129, 0.3); }
  /* line 81, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  #nav-header > svg {
    width: 100%;
    height: 112px;
    fill: #fff; }

/* line 84, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.navigation {
  margin-right: 16px; }
  /* line 84, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .navigation svg {
    width: 24px;
    height: 24px;
    margin: -7px 24px; }

/* line 86, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
nav {
  margin: 12px 0; }

/* line 88, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
nav > a {
  display: block;
  padding: 16px 0;
  text-decoration: none;
  border-radius: 0 24px 24px 0;
  transition: background-color .2s; }

/* line 96, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
#overlay {
  height: 100%;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s, opacity .2s ease-out;
  cursor: default; }

/* line 105, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.center {
  text-align: center; }

/* line 107, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
#content {
  display: inline-block;
  transition: transform .3s;
  width: 320px;
  font-size: 0; }

/* line 114, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
#footer {
  display: block;
  font-size: 12px;
  margin: 16px 0 4px;
  color: #ba68c8; }

/* line 121, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.card {
  display: inline-block;
  margin: 10px;
  text-align: left;
  background-color: #fff;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* line 132, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.norm {
  width: 300px; }
  /* line 135, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .norm > h2 {
    margin: 4px 14px; }
  /* line 136, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .norm > p {
    margin: 4px 14px 10px; }

/* line 139, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.dt {
  display: none; }

@media only screen and (min-width: 640px) {
  /* line 142, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  #content {
    width: 640px; } }

@media only screen and (min-width: 960px) and (max-width: 1024px), (min-width: 1200px) {
  /* line 146, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  #content {
    width: 960px; }
  /* line 147, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .show {
    display: inline-block; } }

@media not screen and (max-width: 1024px) {
  /* line 151, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  #title {
    transform: translateX(200px); }
  /* line 152, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .drawer {
    transform: translateX(0); }
  /* line 153, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  #content {
    transform: translateX(128px); } }

@media only screen and (min-width: 1520px) {
  /* line 157, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  #content {
    width: 1280px; } }

/* line 166, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.fade {
  color: #bdbdbd; }
  /* line 166, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .fade > svg {
    fill: #bdbdbd; }

/* line 167, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.lite {
  color: #ff4081;
  background-color: rgba(255, 64, 129, 0.1);
  fill: #ff4081; }
  /* line 167, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .lite > svg {
    fill: #ff4081; }

/* line 168, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.strg {
  color: #fff;
  background-color: #ff4081; }
  /* line 168, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .strg > svg {
    fill: #fff; }

/* line 172, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.act {
  transition: background-color .15s; }
  /* line 176, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .act.v1:hover {
    background-color: #ececec; }
  /* line 177, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .act.v1:active {
    background-color: #cecece; }
  /* line 182, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .act.v2:hover {
    background-color: rgba(255, 64, 129, 0.1); }
  /* line 183, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .act.v2:active {
    background-color: rgba(255, 64, 129, 0.3); }
  /* line 188, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .act.v3:hover {
    background-color: #ff5a92; }
  /* line 189, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .act.v3:active {
    background-color: #ffa6c4; }

/* line 197, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.bt-n {
  display: inline-block;
  margin: 6px;
  padding: 8px;
  color: #ff4081;
  border-radius: 2px; }

/* line 207, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.bt-i {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 6px; }

/* line 215, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.b-1 {
  width: 100%;
  height: 4px;
  margin-bottom: 4px; }

/* line 216, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.b-2 {
  width: 0%;
  height: 4px;
  background-color: #ff4081; }

/* line 218, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.fix {
  margin: 8px 16px 0 0;
  float: right; }
  /* line 218, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
  .fix > b {
    margin-left: 14px;
    vertical-align: 11px; }

/* line 219, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
#munny {
  font-size: 12px;
  padding: 0 8px;
  border-radius: 10px;
  float: right; }

/* line 220, C:/Users/Kaho/Desktop/Momo Project/styles/style.scss */
.chest-area {
  margin: 7px 0 16px 72px; }

/*# sourceMappingURL=style.css.map */