$base: #ff4081;

body, h1, h2, p, hr { margin: 0; padding: 0; }

html { overflow: hidden; }

body {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  font: 14px/20px "Roboto", "Helvetica", sans-serif;
  background-color: #eee;
  overflow-y: auto;
}

h1 {  }
h2 { font-weight: 500; font-size: 14px; }
p  { font-weight: 400; color: #757575;  }
a  { font-weight: 500; color: #757575; text-decoration: none; }
b  { font-weight: 500; }

hr  { display: block; height: 1px; border-width: 0; background-color: #e0e0e0; }
svg { display: inline-block; width: 100%; height: 100%; fill: #757575; }

#header, #overlay, .drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#header {
  height: 50px;
  min-width: 320px;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px;
  z-index: 1;
}

#menu { 
  position: absolute;
  top: 7px;
  left: 13px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;

  > svg { width: 24px; height: 24px; vertical-align: -16px }
}

#title {
  font-size: 18px;
  line-height: 51px;
  margin-left: 64px;
  transition: transform .3s ease-out;
}

.drawer {
  max-width: 240px;
  height: 100%;
  background-color: #fafafa;
  transform: translateX(-256px);
  transition: transform .3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
              rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
              rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  overflow-y: auto;
  z-index: 2;
}

.drawer:target            { transform: translateX(0); transition: transform .5s cubic-bezier(0,0,.2,1) }
.drawer:target ~ #overlay { visibility: visible; opacity: 0.7; }

#nav-header { 
  padding: 13px 0;
  margin-bottom: 20px;
  background-color: rgba($base ,.3);
  
> svg { width: 100%; height: 112px; fill: #fff; }
}

.navigation { margin-right: 16px; svg { width: 24px; height: 24px; margin: -7px 24px; }}

nav { margin: 12px 0; }

nav > a {
  display: block;
  padding: 16px 0;
  text-decoration: none;
  border-radius: 0 24px 24px 0;
  transition: background-color .2s;
}

#overlay {
  height: 100%;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s, opacity .2s ease-out;
  cursor: default;
}

.center { text-align: center; }

#content {
  display: inline-block;
  transition: transform .3s;
  width: 320px;
  font-size: 0;
}

#footer {
  display: block;
  font-size: 12px;
  margin: 16px 0 4px;
  color: #ba68c8;
}

.card {
  display: inline-block;
  margin: 10px;
  text-align: left;
  background-color: #fff;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
              0 1px 2px rgba(0, 0, 0, 0.24);
}

.norm { 
  width: 300px;
	
> h2 { margin: 4px 14px;      }
> p  { margin: 4px 14px 10px; }
}

.dt { display: none; }

@media only screen and (min-width: 640px) {
  #content { width: 640px; }
}

@media only screen and (min-width: 960px) and (max-width: 1024px), (min-width: 1200px) {
  #content { width: 960px; }
  .show    { display: inline-block; }
}

@media not screen and (max-width: 1024px) {
  #title   { transform: translateX(200px); }
  .drawer  { transform: translateX(0);     }
  #content { transform: translateX(128px); }
}

@media only screen and (min-width: 1520px) {
  #content { width: 1280px; }
}

// Components

// 1 - Status

// 1.1 - Static

.fade { color: #bdbdbd; > svg { fill : #bdbdbd; }}
.lite { color: $base; background-color: rgba($base ,.1); fill : $base; > svg { fill : $base; }}
.strg { color: #fff ; background-color: $base;           > svg { fill : #fff; } }

// 1.2 - Interactive

.act { transition: background-color .15s;
  
  &.v1 { 

  &:hover  { background-color: #ececec; }
  &:active { background-color: #cecece; }
  }
  
  &.v2 {

  &:hover  { background-color: rgba($base ,.1); }
  &:active { background-color: rgba($base ,.3); }
  }
  
  &.v3 { 

  &:hover  { background-color: lighten($base,5%);  }
  &:active { background-color: lighten($base,20%); }
  }
}

// 2 - Buttons

// 2.1 - Normal Buttons

.bt-n {
  display: inline-block;
  margin: 6px;
  padding: 8px;
  color: $base;
  border-radius: 2px;
}

// 2.2 - Icon Buttons

.bt-i {
  display: inline-block;
  border-radius: 50%;
	width: 20px;
	height: 20px;
  padding: 6px;
}

.b-1 { width: 100%; height: 4px; margin-bottom: 4px; }
.b-2 { width: 0%  ; height: 4px; background-color: $base; }

.fix   { margin: 8px 16px 0 0; float: right; > b { margin-left: 14px; vertical-align: 11px; }}
#munny { font-size: 12px; padding: 0 8px; border-radius: 10px; float: right; } // Fixes munny panel on drawer
.chest-area { margin: 7px 0 16px 72px; }